.root {
  font-family: var(--font-display);
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  letter-spacing: -0.01em;
  white-space: nowrap;
  width: 160px;

  &_brand {
    color: var(--brand-main);
  }

  &_light {
    color: var(--light-main);
  }

  img {
    width: 100%;
  }
}

.accent {
  color: var(--accent-main);
}
